@using System.Security.Claims;
@{
    var userName = User.Identity.Name.ToUpper();
    var userRole = User.FindFirstValue(ClaimTypes.Role);
    var unitNameClaim = ViewBag.UnitName;
    var plantNameClaim = ViewBag.PlantName;
}
<!-- [ Header Topbar ] start -->
<header class="pc-header bg-brand-color-13">
    <div class="m-header">
        <a href="/Home/Index" class="b-brand text-primary">
            <img src="~/assets/images/logo.svg" alt="logo image" class="logo-lg" style="width: 265% !important; margin-left: -5rem !important;" />
        </a>
    </div>
    <div class="header-wrapper">
        <!-- [Mobile Media Block] start -->
        <div class="me-auto pc-mob-drp">
            <ul class="list-unstyled">
                <!-- ======= Menu collapse Icon ===== -->
                <li class="pc-h-item pc-sidebar-collapse">
                    <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
                        <i class="ph ph-list"></i>
                    </a>
                </li>
                <li class="pc-h-item pc-sidebar-popup">
                    <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
                        <i class="ph ph-list"></i>
                    </a>
                </li>
                <li class="dropdown pc-h-item">
                    <a class="pc-head-link dropdown-toggle arrow-none m-0" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <i class="ph ph-magnifying-glass"></i>
                    </a>
                    <div class="dropdown-menu pc-h-dropdown drp-search">
                        <form class="px-3">
                            <div class="form-group mb-0 d-flex align-items-center">
                                <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . ." />
                                <button class="btn btn-light-secondary btn-search">Search</button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!-- [Mobile Media Block end] -->
        <div class="ms-auto">
            <ul class="list-unstyled">
                <li class="dropdown pc-h-item header-notification position-relative">
                    <a class="dropdown-toggle arrow-none me-3 text-decoration-none" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" data-bs-auto-close="outside" aria-expanded="false">
                        <i class="fa fa-bell text-white"></i>

                        @if (ViewBag.productionListgetBadge != null && ViewBag.productionListgetBadge.ToString() != "0")
                        {
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                @ViewBag.productionListgetBadge
                            </span>
                        }
                    </a>
                </li>

                <li class="dropdown pc-h-item header-user-profile">
                    <a class="dropdown-toggle arrow-none me-0 text-decoration-none" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="false" data-bs-auto-close="outside" aria-expanded="false">
                        <span class="fw-bold text-white">Hello, @userName</span>
                        <img src="~/assets/images/user/avatar-2.jpg" style="margin-left:5px;" alt="user-image" class="user-avtar" />
                    </a>
                    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                        <div class="dropdown-body">
                            <div class="profile-notification-scroll position-relative" style="max-height: calc(100vh - 225px)">
                                <ul class="list-group list-group-flush w-100">
                                    @* <li class="list-group-item">
                                        <a href="https://codedthemes.com/item/gradient-able-admin-template/" target="_blank"
                                           class="dropdown-item">
                                            <span class="d-flex align-items-center">
                                                <i class="ph ph-arrow-circle-down"></i>
                                                <span>Download</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#" class="dropdown-item">
                                            <span class="d-flex align-items-center">
                                                <i class="ph ph-user-circle"></i>
                                                <span>Edit profile</span>
                                            </span>
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <span class="d-flex align-items-center">
                                                <i class="ph ph-bell"></i>
                                                <span>Notifications</span>
                                            </span>
                                        </a>
                                        <a href="#" class="dropdown-item">
                                            <span class="d-flex align-items-center">
                                                <i class="ph ph-gear-six"></i>
                                                <span>Settings</span>
                                            </span>
                                        </a>
                                    </li> *@
                                    <li class="list-group-item">

                                        <a class="dropdown-item" asp-action="Logout" asp-controller="UserMasters">
                                            <span class="d-flex align-items-center">
                                                <i class="ph ph-power"></i>
                                                <span>Logout</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- [ Header ] end -->