<!DOCTYPE html>
<html lang="en">

<!-- [Head] start -->
<head>
    <title>Home | Gradient Able Dashboard Template</title>
    <!-- [Meta] -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
          content="Gradient Able is trending dashboard template made using Bootstrap 5 design framework. Gradient Able is available in Bootstrap, React, CodeIgniter, Angular,  and .net Technologies." />
    <meta name="keywords"
          content="Bootstrap admin template, Dashboard UI Kit, Dashboard Template, Backend Panel, react dashboard, angular dashboard" />
    <meta name="author" content="codedthemes" />

    <!-- [Favicon] -->
    <link rel="icon" href="~/assets/images/favicon.svg" type="image/x-icon" />

    <!-- [Google Font: Poppins] -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

    <!-- [Icons & Fonts] -->
    <link rel="stylesheet" href="~/assets/fonts/tabler-icons.min.css" />  <!-- Tabler Icons -->
    <link rel="stylesheet" href="~/assets/fonts/feather.css" />           <!-- Feather Icons -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome.css" />       <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/fonts/material.css" />          <!-- Material Icons -->
    <!-- [Map Vector CSS] -->
    <link rel="stylesheet" href="~/assets/css/plugins/jsvectormap.min.css" />

    <!-- [Template Styles] -->
    <link rel="stylesheet" href="~/assets/css/style.css" id="main-style-link" />
    <link rel="stylesheet" href="~/assets/css/style-preset.css" />

    <!-- [ DataTables CSS ] -->
    <link href="~/datatable/bootstrap.min.css" rel="stylesheet" />  <!-- Ensure this is necessary -->
    <link href="~/datatable/datatables.bootstrap.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />
</head>
<!-- [Head] end -->

<body data-pc-header="header-1" data-pc-preset="preset-1" data-pc-sidebar-theme="light" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme="light">

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <partial name="_Sidebar" />
    <partial name="_Header" />

    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pc-content">
            @RenderBody()
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <partial name="_Footer" />

    <!-- [ Required JS ] -->
    <script src="~/datatable/jquery-3.7.1.js"></script>
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script> <!-- Remove duplicate Bootstrap -->
    <!-- [ DataTables JS ] -->
    <script src="~/datatable/datatables.js"></script>
    <script src="~/datatable/datatables.bootstrap.js"></script>

    <!-- [ Other Plugins ] -->
    <script src="~/assets/js/plugins/simplebar.min.js"></script>
    <script src="~/assets/js/plugins/feather.min.js"></script>

    <!-- [ Page-Specific JS ] -->
    <script src="~/assets/js/plugins/apexcharts.min.js"></script>
    <script src="~/assets/js/plugins/jsvectormap.min.js"></script>
    <script src="~/assets/js/plugins/world.js"></script>
    <script src="~/assets/js/plugins/world-merc.js"></script>
    <script src="~/assets/js/pages/dashboard-sales.js"></script>

    <!-- [ Custom & Theme Scripts ] -->
    <script src="~/assets/js/fonts/custom-font.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/theme.js"></script>

    <!-- DataTables Buttons CSS -->
    <link rel="stylesheet" href="~/datatable/buttons.dataTables.min.css" />

    <!-- DataTables Buttons JS -->
    <script src="~/datatable/dataTables.buttons.min.js"></script>
    <script src="~/datatable/jszip.min.js"></script>
    <script src="~/datatable/pdfmake.min.js"></script>
    <script src="~/datatable/vfs_fonts.js"></script>
    <script src="~/datatable/buttons.html5.min.js"></script>
    <script src="~/datatable/buttons.print.min.js"></script>



    <script>
        layout_change('light');
    </script>

    <script>
        layout_sidebar_change('light');
    </script>

    <script>
        change_box_container('false');
    </script>

    <script>
        layout_caption_change('true');
    </script>

    <script>
        layout_rtl_change('false');
    </script>

    <script>
        preset_change('preset-1');
    </script>

    <script>
        header_change('header-1');
    </script>


    @RenderSection("Scripts", required: false) <!-- This line renders the 'Scripts' section if it's defined -->
</body>
</html>

