@using System.Security.Claims;
@{
    var menubar = User.Claims.FirstOrDefault(a => a.Type == "Menu").Value;
    var userName = User.Identity.Name.ToUpper();
    var userRole = User.FindFirstValue(ClaimTypes.Role);
    
    // var unitNameClaim = ViewBag.UnitName;
    // var plantNameClaim = ViewBag.PlantName;
}
<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="../dashboard/index.html" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->
                <img src="../assets/images/logo-white.svg" alt="logo image" class="logo-lg" />
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
              @*   <li class="pc-item pc-caption">
                    <label>Navigation</label>
                </li> *@
                @* <li class="pc-item">
                    <a class="pc-link" asp-controller="Home" asp-action="Index">
                        <span class="pc-micon">
                            <i class="ph ph-gauge"></i>
                        </span><span class="pc-mtext" >Dashboard</span>
                    </a>
                </li>
 *@
                <li class="pc-item">
                    <a class="pc-link" asp-controller="Home" asp-action="Index">
                        <span class="pc-micon">
                            <i class="ph ph-chart-line-up"></i> <!-- Modern Dashboard Icon -->
                        </span>
                        <span class="pc-mtext">Dashboard</span>
                    </a>
                </li>

                <li class="pc-item pc-caption">
                    <label>Menus</label>
                    <i class="ph ph-suitcase"></i>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">
                        <span class="pc-micon"> <i class="ph ph-tree-structure"></i> </span><span class="pc-mtext">Masters</span><span class="pc-arrow">
                            <i data-feather="chevron-right"></i>
                        </span>
                    </a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" asp-controller="ProductMasters" asp-action="Index">Product Master</a></li>
                        <li class="pc-item"><a class="pc-link" asp-controller="UserManagments" asp-action="Index">User Managment</a></li>
                       @*  <li class="pc-item pc-hasmenu">
                            <a href="#!" class="pc-link">
                                Level 2.2<span class="pc-arrow">
                                    <i data-feather="chevron-right"></i>
                                </span>
                            </a>
                            <ul class="pc-submenu">
                                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>
                                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>
                                <li class="pc-item pc-hasmenu">
                                    <a href="#!" class="pc-link">
                                        Level 3.3<span class="pc-arrow">
                                            <i data-feather="chevron-right"></i>
                                        </span>
                                    </a>
                                    <ul class="pc-submenu">
                                        <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>
                                        <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li> *@
                     
                    </ul>
                </li>              

            </ul>
           
        </div>
    </div>
</nav>
<!-- [ Sidebar Menu ] end -->