.pagination, .dt-search {
    float: inline-end !important;
}

/* Apply Bootstrap styles to DataTables buttons */
.dt-buttons .btn {
    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 5px;
    font-weight: bold;
    color: white !important;
}

/* Excel button (Green) */
.dt-buttons .btn-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

/* PDF button (Red) */
.dt-buttons .btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

/* CSV button (Blue) */
.dt-buttons .btn-info {
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

/* Print button (Dark Blue) */
.dt-buttons .btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

/* Ensure icons are properly aligned */
.dt-buttons .btn i {
    margin-right: 5px;
}

body {
    /*    background-color: #e3e3e3;*/
    background-color: #f9f9f9;
}

.bg-brand-color-13 {
    /*    background: linear-gradient(to right, #5b9dff, #38e366) !important;*/
    background: linear-gradient(to right, #5b9dff, #f78914) !important;
}

.bg-brand-color-14 {
    /*    background: linear-gradient(to right, #5b9dff, #38e366) !important;*/
    background: linear-gradient(to right, #e7cf25, #f78914, #ff3d71) !important;
}

.bg-brand-color-15 {
    /*    background: linear-gradient(to right, #5b9dff, #38e366) !important;*/
    background: linear-gradient(to right,#e7cf25, #5b9dff, #f78914) !important;
}



