@model Ajit_Bakery.Models.ProductMaster

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">
    <div class="card shadow-sm mt-3">
        <div class="card-header bg-dark text-white py-2">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0 font-weight-bold small text-center">Product Master</h5>
                <a asp-action="Create" class="btn btn-success btn-sm text-white">
                    <i class="fas fa-plus-square"></i> Add
                </a>
            </div>
        </div>
        <div class="card-body p-2">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="row">
                    <div class="form-group col-sm-3">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input type="text" asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="Qty" class="control-label"></label>
                        <input type="text" asp-for="Qty" class="form-control" />
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="Unitqty" class="control-label"></label>
                        <input type="text" asp-for="Unitqty" class="form-control" />
                        <span asp-validation-for="Unitqty" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="Uom" class="control-label"></label>
                        <input type="text" asp-for="Uom" class="form-control" />
                        <span asp-validation-for="Uom" class="text-danger"></span>
                    </div>
               </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label asp-for="Category" class="control-label"></label>
                        <input type="text" asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="Type" class="control-label"></label>
                        @* <input type="text" asp-for="Type" class="form-control" /> *@
                        <select id="Type" class="form-control" asp-for="Type">
                            <option>Regular</option>
                            <option>Fancy</option>
                            <option>Preminum</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="PerGmRate" class="control-label"></label>
                        <input type="text" asp-for="PerGmRate" class="form-control" />
                        <span asp-validation-for="PerGmRate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="MRP" class="control-label"></label>
                        <input type="text" asp-for="MRP" class="form-control" />
                        <span asp-validation-for="MRP" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label asp-for="DialCode1" class="control-label"></label>
                        <input type="text" asp-for="DialCode1" class="form-control" />
                        <span asp-validation-for="DialCode1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="DialCode2" class="control-label"></label>
                        <input type="text" asp-for="DialCode2" class="form-control" />
                        <span asp-validation-for="DialCode2" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="CreateDate" class="control-label"></label>
                        <input type="text" asp-for="CreateDate" class="form-control" />
                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="Createtime" class="control-label"></label>
                        <input type="text" type="text" asp-for="Createtime" class="form-control" />
                        <span asp-validation-for="Createtime" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label asp-for="ModifiedDate" class="control-label"></label>
                        <input type="text" asp-for="ModifiedDate" class="form-control" />
                        <span asp-validation-for="ModifiedDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="Modifiedtime" class="control-label"></label>
                        <input type="text" asp-for="Modifiedtime" class="form-control" />
                        <span asp-validation-for="Modifiedtime" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-3">
                        <label asp-for="User" class="control-label"></label>
                        <input type="text" asp-for="User" class="form-control" />
                        <span asp-validation-for="User" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
