@model Ajit_Bakery.Models.OutletMaster

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OutletMaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OutletCode" class="control-label"></label>
                <input asp-for="OutletCode" class="form-control" />
                <span asp-validation-for="OutletCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutletName" class="control-label"></label>
                <input asp-for="OutletName" class="form-control" />
                <span asp-validation-for="OutletName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutletAddress" class="control-label"></label>
                <input asp-for="OutletAddress" class="form-control" />
                <span asp-validation-for="OutletAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutletContactNo" class="control-label"></label>
                <input asp-for="OutletContactNo" class="form-control" />
                <span asp-validation-for="OutletContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutletContactPerson" class="control-label"></label>
                <input asp-for="OutletContactPerson" class="form-control" />
                <span asp-validation-for="OutletContactPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createtime" class="control-label"></label>
                <input asp-for="Createtime" class="form-control" />
                <span asp-validation-for="Createtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifiedtime" class="control-label"></label>
                <input asp-for="Modifiedtime" class="form-control" />
                <span asp-validation-for="Modifiedtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
